* {
  background-color: #ABE2B0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FDD89A;
  margin-bottom: 5px;
}

h1 {
  text-align: left;
}

.nav {
  display: flex;
  align-content: space-between;
  align-items: center;
  justify-content: center;
}

.nav-item{
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 30px;
  color: #bd91db;
}

.article-list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;
}

.article-card {
  padding: 2.5rem;
  margin: 1rem;
  flex: 1 1 50px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #7a57a8;
}

.article-body {
  color: #7a58a8;
}

.img {
  display: flex;
  width: 260px;
  align-items: center;
  justify-content: center;
}

.article-published-by {
  font-style: italic;
  margin-top: 5px;
  margin-bottom: 5px;
}

.article-created-at {
  font-style: italic;
  font-size: 0.75em;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

.article-list-votes {
  font-size: 0.75em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-count {
  color: #9672c4;
}

.comment-body {
  color: #7a58a8;
}

.comment-created-at {
  font-style: italic;
  font-size: 0.75em;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

.comment-list-votes {
  font-size: 0.75em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FDD89A;
  margin-bottom: 30px;
  color: #bd91db;;
}

.ring-loader {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
